.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  border: 0.5px solid rgb(165, 255, 250);
  user-select: none;
}

.cell-empty {
  background-color: white;
}

.cell-start {
  background-color: green;
  border: 0.5px solid green;
}

.cell-end {
  background-color: red;
  border: 0.5px solid red;
}

.cell-wall {
  background-color: rgb(55, 55, 55);
  border: 0.5px solid rgb(55, 55, 55);
}

.cell-path {
  background-color: rgb(6, 238, 255);
  border: 0.5px solid rgb(120, 246, 255);
}

.cell-visited-animated {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnim;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnim {
  0% {
    transform: scale(0.1);
    background-color: rgba(0, 0, 0);
    border-radius: 100%;
  }

  10% {
    transform: scale(0.1);
    background-color: rgb(28, 20, 0);
  }

  20% {
    transform: scale(0.3);
    background-color: rgb(59, 40, 0);
  }

  40% {
    transform: scale(0.6);
    background-color: rgb(157, 80, 0);
  }

  60% {
    transform: scale(0.8);
    background-color: rgb(227, 155, 0);
  }

  80% {
    transform: scale(1.2);
    background-color: rgb(244, 200, 0);
  }

  100% {
    transform: scale(1);
    border: 0.5px solid rgba(255, 196, 87, 0.782);
    background-color: rgb(255, 242, 0);
  }
}

/*
.cell-start {
  background-color: green;
  border: 0.5px solid green;
}

.cell-end {
  background-color: red;
  border: 0.5px solid red;
}

.cell-wall {
  background-color: rgb(55, 55, 55);
  border: 0.5px solid rgb(55, 55, 55);
}

.cell-path {
  background-color: yellow;
  border: 0.5px solid yellow;
}*/

.cell-visited {
  border: 0.5px solid rgba(255, 196, 87, 0.782);
    background-color: rgb(255, 242, 0);
}


.num {
  font-size: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: rgba(0, 0, 0, 0);
}
.num-visited {
  color: rgba(208, 246, 255, 0.898);
}
.num-path {
  color: rgba(165, 165, 165, 0.898);
}

.num-start {
  color: rgb(74, 255, 80);
}

.num-end {
  color: rgba(0, 0, 0, 0.508);
}
