.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  border: 0.5px solid rgb(165, 255, 250);
  user-select: none;
}

.cell-empty {
  background-color: white;
}

.cell-start {
  background-color: green;
  border: 0.5px solid green;
}

.cell-end {
  background-color: red;
  border: 0.5px solid red;
}

.cell-wall {
  background-color: rgb(6, 52, 72);
  border: 0.5px solid rgb(6, 52, 72);
}

.cell-wall-animated {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
    border: 0.5px solid rgb(12, 53, 71);
  }

  50% {
    transform: scale(0.8);
    background-color: rgb(12, 53, 71);
    border: 0.5px solid rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(6, 52, 72);
    border: 0.5px solid rgb(6, 52, 72);
  }
}

.num {
  font-size: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: rgba(0, 0, 0, 0);
}

.num-visited {
  color: rgba(0, 0, 0, 0.467);
}

.num-path {
  color: rgba(0, 0, 0, 0.542);
}

.num-start {
  color: rgb(255, 255, 255);
}

.num-end {
  color: rgb(255, 255, 255);
}
