.row {
  display: flex;
}
.row:last-child {
}

.row:first-child {
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid rgb(83, 255, 246);
}

.cell-empty {
  background-color: white;
}

.cell-start {
  background-color: green;
}

.cell-end {
  background-color: red;
}

.cell-wall {
  background-color: black;
}

.cell-path {
  background-color: yellow;
}

.cell-visited {
  background-color: rgb(95, 190, 248);
}

.cell:first-child {
}

.cell:last-child {
}
