.cell-pathThird {
  border: 0.5px solid rgba(147, 71, 201, 0.433);
  background-color: rgba(172, 100, 255, 0.905);
}

.cell-pathThird-animated {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: pathThirdAnim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes pathThirdAnim {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0);
  }

  10% {
    transform: scale(1.05);
    background-color: rgba(25, 4, 48, 0.905);
  }

  20% {
    transform: scale(1.1);
    background-color: rgba(51, 9, 99, 0.905);
  }

  40% {
    transform: scale(1.15);
    background-color: rgba(72, 14, 138, 0.905);
  }

  60% {
    transform: scale(1.1);
    background-color: rgba(116, 30, 214, 0.905);
  }

  80% {
    transform: scale(1.05);
    background-color: rgba(156, 69, 255, 0.905);
  }

  100% {
    transform: scale(1);
    border: 0.5px solid rgba(147, 71, 201, 0.433);
    background-color: rgba(172, 100, 255, 0.905);
  }
}
